body{
	background-color: #efffef;
}

header{
	text-align: center;
	max-width: 80%;
}

h3{
	color: blue;
	font-family:verdana;
}

small{
	font-family:verdana;
}

aside{
	min-width: 15%;
	max-width: 15%;
	float: left;
	word-wrap:break-word;
	margin-left: 0px;
}

figure{
	padding: 0px;
	margin: 0px;
}

footer{
	min-width: 80%;
	max-width: 80%;
	float: bottom;
	margin-top: 60%;
}

.subtitle{
	font-family:verdana;
}

.left_small{
	float: left;
	margin-right: 35px;
}

.info{
	font-family:verdana;
	margin-bottom: 5px;
}

.h4Css{
	color: blue;
	font-family:verdana;
	margin-top: 40px;
}

#sidebar1{
	max-width: 11%;
	min-width: 11%;
	word-wrap:break-word;
	text-align: center;
	float: left;
}

#main{
	min-width: 35%;
	max-width: 35%;
	float: left;
	word-wrap:break-word;
	margin-right: 0px;
	margin-left: 10px;
}

#h3Offer{
	color: blue;
	font-family:verdana;
	margin-top: 190px;
}

#mapa {
        height: 100%;
        margin: 0px;
        padding: 0px;
        min-width: 450px;
        max-width: 450px;
        min-height: 300px;
        max-height: 300px;
}







